In [1]:
import pandas as pd

In [3]:
nba=pd.read_csv("nba.csv")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [7]:
nba["Salary"].sub(50000)
nba["Salary"]-50000

0      7680337.0
1      6746117.0
2            NaN
3      1098640.0
4      4950000.0
         ...
453    2383333.0
454     850000.0
455    2850000.0
456     897276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [9]:
nba["Salary"].add(50000)
nba["Salary"]+50000

0      7780337.0
1      6846117.0
2            NaN
3      1198640.0
4      5050000.0
         ...
453    2483333.0
454     950000.0
455    2950000.0
456     997276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [22]:
nba["Weight"].mul(2)
nba["Weight"]/2

0       90.0
1      117.5
2      102.5
3       92.5
4      115.5
       ...
453    101.5
454     89.5
455    128.0
456    115.5
457      NaN
Name: Weight, Length: 458, dtype: float64

In [19]:
nba["Weight in kg"]=nba["Weight"]*0.4535

In [20]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in kg
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.6300
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.5725
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.9675
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,83.8975
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,104.7585
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,92.0605
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,81.1765
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,116.0960
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,104.7585
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN